<%= link_to "posts", posts_path%>,
<%= link_to "new_user", new_user_path%>

<h1>Users</h1>

<% @users.each do |user| %>
  <h3> <%= user.name%> </h3>
  <%= image_tag user.profile_image.variant(resize_to_fill: [500, nil]) if user.profile_image.attached? %>
<% end %>
